.articlecursos, .reco{
    background-color: rgb(245,245,245);
    padding: 5px;
    
    }
.articlecursos, .tipe {
    background-color:rgb(50, 18, 81);
    color: aliceblue;
    padding: 5px;
    
}
.articlecursos h5{
    background-color:blueviolet;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}
.reco{
    background-color:blueviolet;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}
.text-center{
    background-color:blueviolet;
    padding: 5px;
    color: aliceblue;
    
}
.footercurso{
    background-color:  rgb(245,245,245);
    padding: 5px;
}