header{
    background-color: rgb(245,245,245);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(../images/portada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

}

#hero h1{
    color: rgb(245,245,245);
}

#somos-academiacafe .container{
    text-align: center;
    padding: 200px 12px;
}

#servicios{
    background-color:rgb(30,30,30);
    color:  rgb(245,245,245);
    text-align: center;
}

#servicios .container{
    padding: 150px 12px;
}

#servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#servicios p{
    display: none;
}

#servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px; 

}

.carta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
)
    ,url(../images/cursos.jpg);
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(../images/tostaduria.jpg);
        background-size: cover;
        background-position: center center;
}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(../images/tienda.jpg);
        background-size: cover;
        background-position: center center;
}

#contactos .container{
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(245,245,245);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    
}

#listo-paraaprender{
    margin: 20px;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color:  rgb(245,245,245);
    height: 100vh;
}

#listo-paraaprender h2{
    font-size: 9vw;
}

#listo-paraaprender button{
    font-size: 5vw;
}


#listo-paraaprender{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url(../images/listoparaaprender.jpg);
        background-size: cover;
        background-position: center center;
}

@media (min-width: 780px){
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
        grid-column: 1/-1;
    }
    .somos-academiacafe .container{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
    }

    }
    .acadeh2{
        font-size: 2em;
    }
    @media (min-width: 480px){
        .acadeh2{
            font-size:3.2em;
        }
        
    }